@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

$card-color: #f0d8b6;

.container-card-name{
    display: flex;
    flex-direction: column;

    width: fit-content;
    max-height: 500px;
    overflow-y: auto;
    padding : 5px;
    gap : 10px;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .player-wrapper{
        display: flex;
        align-items: center;
        gap :10px;
        
    }

    .ready-status{
        width: 20px;
        font-size: 24px;
    }

    .card-name{
        display: flex;
        align-items :center;
        background-color : $card-color;
        height : 85px;
        width : 270px;
        border-radius : 15px;
        border : 3px solid $card-color;
    

        img{
            height : 85px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;

        }


        p{
            margin-left : 10px;
            font-size: 20px;
            width: 155px;
            max-width: 155px;
            font-family:'Cormorant Garamond', serif;
            font-weight: 800;
        }

        
    }

}


