$mainfont : 'Fraunces', serif;
$background-color: #d1e2f3;

footer{
    width : 950px;
    .footer{
        display : flex;
        justify-content: center;
        align-items: center;
        gap : 30px;
        width : 100%;
        margin : 0px 0px 15px 0px;

        img{
            height : 230px;
        }

        h3{
            display : flex;
            align-items: center;
            justify-content: center;
            background-color: $background-color;
            width : 100%;
            padding : 10px 0px;
            font-weight: 500;
            font-family: $mainfont;
            font-size: 20px;
            box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
            border : 3px solid #b3926f;

            span{
                padding-left: 7px;
                font-weight: bold;
            }
        }
    }
}

.footer-separate{
    display: flex;
    align-items: center;
    height : 2px;
    width : 150px;
    background-color : #b3926f;
    margin: 0 auto;
    margin-bottom : 30px;
}