$mainfont : 'Fraunces', serif;
$background-color: #d1e2f3;

footer{
    width : 80%;
    display : flex;
    flex-direction: column;
    justify-content : center;

    .footer{
        display : flex;
        justify-content: center;
        align-items: center;
        gap : 30px;
        width : 100%;
        margin : 0px 0px 15px 0px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

        img{
            height : 230px;
        }

        h3{
            display : flex;
            align-items: center;
            justify-content: center;
            background : rgba(27, 48, 83, 0.5);
            color: #e3c494;
            width : 100%;
            padding : 10px 0px;
            font-weight: 400;
            font-family: $mainfont;
            font-size: 20px;
            box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);

            span{
                padding-left: 7px;
                font-weight: bold;
            }
        }
    }
}

.footer-separate{
    display: flex;
    align-items: center;
    height : 2px;
    width : 210px;
    background-color : #b3926f;
    margin: 0 auto;
    margin-bottom : 30px;
}