
.container-game-mode{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    gap : 10px;

    .card-game-mode{
        display: flex;
        align-items :center;
        justify-content: center;
        color : black;
        width : 250px;
        height : 40px;
        font-size: 20px;
        background-color : #1088ba;

        box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
        cursor :pointer;
    }

    .card-game-mode:nth-child(1) {
        background-size: cover; 
        background-color : #3ceef2;
    }


    .card-game-mode:nth-child(2) {
        background-size: cover; 
        background-color : #1088ba;
    }

    .selected{
        border: 2px solid #d9a840;
        transform: scale(1.05); 
    }
}

.card-game-mode.disabled {
  opacity: 0.5;
}