@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Ruthie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Love+Light&display=swap');



$button-color: #fff4df;
$font-header: 'Love light';
$color-header: #ffaa6e;

header{
  @media screen and (max-width: 675px) {
      display: none;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;

 .header-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

    background: url('../assets/illustration/eastBlue.png');

    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;

    width : 700px;
    height: 100px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
    border : 1px solid #ffd3a5;

      &::before {
      content: '';
      border-radius: 50px;
      position: absolute;
      inset: 0;
      background-color: rgba(0, 75, 129, 0.7);
      z-index: 0;
    }



    h1{
      position: relative;
      font-family: $font-header;
      font-size: 120px;
      font-weight: 400;
      color: $color-header;
    }

  }
  

}

.header-separate{
  display: flex;
  align-items: center;
  height : 2px;
  width : 210px;
  background-color : $button-color;
  margin: 0 auto;
}