@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

$mainfont: 'Fraunces', serif;
$maincolorfont: #e3c494;

$background-header: #d1e2f3;

header{
  position: relative;
  width : 100%;
  background : rgba(27, 48, 83, 0.5);
  font-family: $mainfont;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);


  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0px;
    width : 100%;
    gap: 15px;

    .header-link {
      display: flex;
      align-items: center;
      justify-content: center;

      h2{
        position: relative;
        font-family: $mainfont;
        font-size: 18px;
        font-weight: 500;
        margin : 0px;
        padding: 0px;
        color : $maincolorfont;
      }
    }

    .header-banner {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
          position: relative;
          font-family: $mainfont;
          font-size: 35px;
          font-weight: 400;
          margin : 0px;
          padding: 0px;
          color : $maincolorfont;
        }
    }

    .login-header {
      display: flex;
      justify-content: center;
      gap: 40px;

      a{
        font-weight: 600;
        font-size : 18px;
        text-decoration: none;
        color : $maincolorfont;
      }

      button {
        &:hover {
          cursor: pointer;
          color : #b3926f;
        }
      }
    
    }
  }

  .header-separate{
    display: flex;
    align-items: center;
    height : 2px;
    width : 210px;
    background-color : #b3926f;
    margin: 0 auto;
  }
}