

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

$mainfont: 'Fraunces', serif;
$maincolorfont: #e3c494;
$otherfont: 'Cormorant Garamond', serif;

$color-modal : rgba(254, 247, 229, 1);

$button-color: #f0d8b6;
$button-active: #b3926f;
$button-writting-color: #0a1931;

html, body {
  font-family: $mainfont;
}

input {
  all: unset;
}

body {
  background-image: url('../assets/illustration/eastBlue.png');
  background-size: cover;    
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
  
  &::before {
    content: '';
    position: fixed;
    background-attachment: fixed;
    inset: 0;
    background-color: rgba(30, 46, 79, 0.9);
    z-index: -1;
  }

}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  height: 100dvh; /* dynamic viewport height, plus précis et standardisé que vh (viewport height) */

  .modal-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 5dvh;
    color : $button-writting-color;

    .section-one-piece-game-title {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $button-color;
      padding: 10px 0px;
      font-family: $mainfont;
      width : 400px;
      border-radius: 5px;
      z-index: 1;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

      h3{
        font-family: $mainfont;
        font-weight: 600;
        font-size: 24px;
      }
    }

    .information-player {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 400px;
      text-align: center;
      gap : 5px;
      border-radius: 5px;
      padding : 10px 0px;
      background-color: $color-modal;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
      font-weight: 500;

      input {
        padding : 10px 20px;
        width : 60%;
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        background-color: $button-color;
        border-radius : 0px;

        &::placeholder {
          color : #7a5e3c;
          font-weight: 500;
        }
      }

      input, button {
        padding : 10px 20px;
        width : 60%;
        font-size: clamp(16px, 2vw, 20px);
        background-color : $button-color;

        &:hover {
          cursor: pointer;
          background-color : $button-active;
          transform: scale(1.03);
        }
      }
    }

    .room-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width : 400px;
      padding : 10px 0px;
      border-radius: 5px;
      gap : 10px;
      background-color: $color-modal;
      text-align: center;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
      font-weight: 500;

      button:disabled {
        opacity: 0.4;
        cursor: default!important;
        filter: grayscale(100%);
        transform: none!important;
        pointer-events: none !important; 
        user-select: none !important;
      }

      .join-row{
        display: flex;
        justify-content: center;
        width : 70%;
      }

      .join-game-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;

        background-color: $color-modal;
        width : 100%;
      }

      button {
        padding : 10px 0px;
        width : 70%;
        font-size: clamp(16px, 2vw, 20px);
        background-color : $button-color;

        &:hover {
          cursor: pointer;
          background-color : $button-active;
          transform: scale(1.03);
        }
      }
    }



    .room-input {
      background-color: $button-color;
      text-align: center;
      width : 70%;
      cursor : pointer;
    }
  }
}








/* DESCRIPTION CONTENU GRATUIT */

.free-content{
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width : 200px;
  padding : 20px;
  border-radius: 5px;
  background : rgba(27, 48, 83, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border : 3px solid rgba(44, 62, 92, 1);
  color : $button-color;


  h3{
    display: flex;
    justify-content: center;
    color : #b3926f;
    font-size : 22px;
    font-weight: 600;
  }

  p{
    font-family: $mainfont;
    font-size : 16px;
    font-weight : 500;
    margin : 10px 0px;
    color: $button-color;
  }
}

/* DESCRIPTION CONTENU PAYANT*/

.paying-container {
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  height: 300px;
  width : 200px;
  padding : 20px;
  border-radius: 5px;
  background : rgba(27, 48, 83, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border : 3px solid rgba(44, 62, 92, 1);

  .content-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color : $button-color;
  }

  .paying-content{
    display: flex;
    flex-direction: column;

    p{
      color : $button-color;
    }

    .button-container{
      display: flex;
      justify-content: center;
      margin-top : 10px;

        .button-premium {
          display: flex;
          justify-content: center;
          background-color: $button-active;
          color : $button-writting-color;
          border-radius: 15px;
          padding : 10px 20px;
          font-weight: 700;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }
  }

  h3{
    color : $button-active;
    display: flex;
    justify-content: center;
    font-size : 24px;
    font-weight: 600;
  }

  p{
    font-family: $mainfont;
    font-size : 16px;
    font-weight : 500;
    margin : 15px 0px;
  }

}

/* Collapses */

.info-collapses {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .collapse {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
    width : 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    color : $button-writting-color;

    .collapse-header {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      cursor: pointer;
      font-family: $mainfont;
      font-weight: 600;
      font-size: 20px;
      width : 100%;
      z-index: 1;
      background : $button-color;

      &:hover {
        background-color: $button-active;
      }
    }

    .collapse-content {
      background : $color-modal;
      padding: 5px 20px;
      font-family: $mainfont;
      font-size: 16px;
      color: black;
      line-height: 1.5;

      p{
        font-weight: 500;
        font-size : 16px;
        color : $button-writting-color;
      }
    }
  }
}
