$color-modal : #f0f0dc;
$mainfont: 'Cinzel';


.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 50px;
  padding: 80px 0px 20px 0px;

  @media screen and (max-width: 1380px) {
    display: flex;
    flex-direction: column-reverse;

    .modal-login {
      order: 1;
    }
    
  }
}



.modal-avatar-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-modal;
    border-radius: 10px;
    padding: 25px;
    width: 250px;
    height: 300px;
    border : 3px solid #b3926f;

    .modal-avatar-header{
        display: flex;
        justify-content: center;

        margin : 10px 0px 15px 0px;

        h4{
            padding :0px;
            margin : 0px;
            font-size : 24px;
            font-family: $mainfont;
        }

        .close-btn{
            display: flex;
            all : unset;
            cursor : pointer;
            margin-right : 15px;
            border : 1px solid black;
            border-radius : 50px;
            padding : 2px 5px 0px 5px;
        }
    }

    
}

.avatar-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 17px;
}

.avatar-grid img {
  height: 95px;
  width: 95px;
  border-radius: 10px;
  object-fit: contain;
  cursor: pointer;
  border: 1px solid #f0d8b6;
  image-rendering: auto;

  &:hover {
    transform: scale(1.07);
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
  }

  &.selected {
    border: 1px solid #b3926f;
    transform: scale(1.1);
  }
}
