$color-modal : #f0f0dc;
$mainfont: 'Cinzel';


.login-wrapper {
  display: flex;
  align-items: center;
  gap: 10dvh;

    @media (max-width: 1030px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
}



.modal-avatar-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background : rgba(27, 48, 83, 0.2);
    border : 3px solid rgba(44, 62, 92, 1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    height: 300px;
    width : 220px;
    padding : 10px;
    border-radius: 5px;

    .modal-avatar-header{
        display: flex;
        justify-content: center;

        margin : 10px 0px 15px 0px;

        h4{
            padding :0px;
            margin : 0px;
            font-size : 24px;
            font-family: $mainfont;
        }

        .close-btn{
            display: flex;
            all : unset;
            cursor : pointer;
            margin-right : 15px;
            border : 1px solid black;
            border-radius : 50px;
            padding : 2px 5px 0px 5px;
        }
    }

    
}

.avatar-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 17px;
}

.avatar-grid img {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  object-fit: contain;
  cursor: pointer;
  border: 1px solid #f0d8b6;
  image-rendering: auto;

  &:hover {
    transform: scale(1.07);
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
  }

  &.selected {
    border: 1px solid #b3926f;
    transform: scale(1.1);
  }
}
