
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

$mainfont: 'Fraunces', serif;
$otherfont: 'Cormorant Garamond', serif;
$color-main : #f7f4f0;
$button-active: #b3926f;

  .container-question-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height : 100dvh;

    .container-question {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;


      margin : 0px 0px 0px 0px;
      padding: 0px 15%;
      opacity: 0.9;
      font-family: $otherfont;
      color : $color-main;
      height : 100dvh;

      .timer-circle {
        color : $button-active;
        margin-top : 40px;

        .timer-text{
          font-size: 20px;
          font-weight: 600;
          font-family: $mainfont;
          color :white;
        }
      }

      .question-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap : 50px;
      }


      .question-text {
        text-align: center;
        font-size: 45px;
        font-weight: 500;
        font-family: $otherfont;
        padding-top: 0px;
        margin : 0px;
        color : white;
      }

      input {
        all: unset;
        border-bottom: 1px solid #b3926f;
        padding: 5px 100px 10px 0px;
        font-size: 35px;
        font-family: $otherfont;
        font-weight: 500;
        width: 500px;
      }

      .difficulty-question{
        display: flex;
        justify-content: flex-start;
        font-size: 22px;
        font-weight: 600;
        font-family: $otherfont;
        width: 100%;


        p {
          font-size: 30px;
          padding: 5px 15px;
          border-radius: 8px;
          color: white;
          text-transform: capitalize; 
          font-family: $mainfont;

          &.easy {
            color: #f0f0dc;
          }

          &.medium {
            color: #f0d8b6;
          }

          &.difficult {
            color: #b3926f; 
          }
        }
      }







      .button-container {
        display: flex;
        justify-content: center;

        button {
          margin: 0 15px;
          padding: 12px 20px;
          border-radius: 10px;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

  }


button.btn-correct,
button.btn-wrong,
button.btn-finish {
  all: unset;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

button.btn-correct {
  background-color: #4caf50;
  color: white;

  &:hover {
    background-color: #45a049;
  }
}

button.btn-wrong {
  background-color: #f44336;
  color: white;

  &:hover {
    background-color: #d32f2f;
  }
}

button.btn-finish {
  background-color: #2196f3;
  color: white;

  &:hover {
    background-color: #1976d2;
  }
}

/* WAITING SCREEN */


.waiting-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 100dvh;

  p{
    font-size: 40px;
    font-family: $otherfont;
    margin : 10px 0px;
    color : $color-main;
  }
}






/*   CORRECTION PAGE   */





.container-correction{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-around;
    height : 100dvh;
    gap : 30px;
    padding: 20px 15% 30px 15%;
    color : $color-main;
    font-family: $otherfont;

    @media screen and (max-width: 1120px) {
      height : 600px;
      
    }

    .correction{
      font-family: $mainfont;
      font-size: 30px;
      font-weight: 400;
      margin-top : 40px;
    }

    .main-correction{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap : 30px;

      .question-text {
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        font-family: $otherfont;
        padding-top: 0px;
        margin : 0px;
        color : white;
      }

      .reponses-correction{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap : 50px;

        .reponse-text {
          text-align: center;
          font-size: 35px;
          font-weight: 400;
          font-family: $otherfont;
          margin : 0px;

          strong {
            font-weight: 600;
            color : #ffaa6e ;
          }
        }

        .reponse-right{
          text-align: center;
          font-size: 40px;
          font-weight: 400;
          font-family: $otherfont;
          margin : 0px;
          color : $button-active ;
        }
      }
    }

    .buttons-correction{
      display: flex;
      justify-content: center;
      gap: 50px;
      padding-top: 50px;
      font-size: 20px;
      font-family: $mainfont;
      font-weight: 700;

      button{
        display: flex;
        justify-content: center;
        padding: 15px 25px;
        background-color : $button-active;
        font-weight: 600 ;
        border-radius: 20px;
        width : 70px;

      }
    }


    

}