$mainfont: 'Fraunces', serif;

$color-modal: #f0f0dc;
$font-color: #b3926f;

p{
  font-family: $mainfont;
  font-size: clamp(18px, 2.5vw, 22px);
  font-weight: 500;
  color: $font-color;
  margin: 0 0 10px 0;
}

h2 {
  font-family: $mainfont;
  font-size: clamp(18px, 3vw, 28px);
  font-weight: 400;
  color: $font-color;
}

.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap : 5vh 0px;

  .register-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 5vh;
    color : $font-color;

    .main-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      background-color: $color-modal;
      padding : 30px;
      border-radius : 10px;
      width : 270px;
    }

    .auth-toggle {
      p {
        font-family: $mainfont;
      }

      span {
        position: relative;
        cursor: pointer;
        font-weight: 600;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 100%;
          height: 2px;
          background-color: $font-color;

          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }

    input {
      all: unset;
      height: 40px;
      width: 95%;
      cursor: text;
      box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
      color: black;
      font-weight: 600;
      font-size: 20px;
    }

    button {
      all: unset;
      display: inline-block;
      font-family: $mainfont;
      font-size: 20px;
      font-weight: 600;
      color: $font-color;
      border: 2px solid $font-color;
      border-radius: 25px;
      padding: 8px 20px;
      transition: all 0.3s ease;
      cursor: pointer;
      text-decoration: none;
      margin-top : 10px;

      &:hover {
        background-color: $font-color;
        color: white;
      }
    }
  }
}



 
