.result-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100dvh; /* dynamic viewport height, plus précis et standardisé que vh (viewport height) */
  justify-content: space-between;

  h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
    color: #fff;
  }

  .return-salon-container {
    
    button {
      color : #f0d8b6;
      font-size : 22px;

      &:hover {
        color : #b3926f;
      }
    }
  }

  .player-rank{
    font-size: 40px;
    color : #b3926f;
    margin-right: 30px;

    .placement{
      font-size: 20px;
      vertical-align: super;
      color : #b3926f;

    }
  }

  .player-score{
    font-size: 20px;
    color : white;
    margin-left: 20px;
  }

  .results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0 auto;
  }

  .result-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222;
    padding: 12px 16px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    color: #fff;

    .player-info {
      display: flex;
      align-items: center;
      gap: 12px;

      .avatar-img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid #fff;
      }

      .username {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }

    .score {
      font-size: 1.2rem;
      font-weight: bold;
      color: #ffcc00;
    }
  }
}