$mainfont: 'Cormorant Garamond';

$colorbackground: #004b81;
$color-modal : #94ede4;
$button-color: #ffd3a5;
$button-active: #b3926f;

body{
    padding : 0px;
    margin : 0px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-between;
    cursor: default;
    height : 100dvh;  
    
    .container-salon{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        gap: 20px;
    }

    .container-waiting{

        .mode-selection{
            display : flex;
            flex-direction: column;
            gap : 20px;

            h2{
                padding-bottom: 10px;
            }

            button{
                text-align: center;
                width: 300px;
                height:50px;
                font-size: clamp(16px, 2vw, 20px);
                background-color: #f0d8b6;
                border-radius : 5px;

                &:hover{
                    background-color: $button-active;
                    transform: scale(1.05);
                    transition: transform 0.3s ease;
                }
            }

            .separate{
                display: flex;
                align-items: center;
                height : 2px;
                width : 210px;
                background-color : #b3926f;
                margin: 10px auto;
            }
        }
    }

}