$mainfont: 'Cormorant Garamond';

$colorbackground: #004b81;
$color-modal : #94ede4;
$button-color: #ffd3a5;


body{
    padding : 0px;
    margin : 0px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-between;
    cursor: default;
    height : 100dvh;  
    
    .container-salon{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        gap: 20px;
    }

}