@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

$mainfont: 'Fraunces', serif;

$color-modal : #f0f0dc;
$button-color: #f0d8b6;
$button-active: #b3926f;

button {
  all: unset;
  cursor: pointer;
}

h2,h3{
  margin : 0px;
  padding : 0px;
}

.container-waiting{
  margin-left: 10px;

  .container-ready-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width : 100%;

    .waiting-room {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $button-color;
      font-family: $mainfont;
      
      h2{
        font-size: 20px;
        padding : 10px 105px;
        font-weight: 600;
      }
    }

    .arc-selection {
      display: flex;
      flex-direction: column;
      background-color: $color-modal;
      gap: 10px;
      padding: 15px;
      border-radius: 5px;

        .select-all{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin: 10px 0px;

          button{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            cursor: pointer;
            width : 95%;
            height : 40px;
            background-color: $button-color;
            font-weight: 700;

            &:hover{
              background-color: $button-active;
              box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.4);
              transform: scale(1.02);
            }
          }
        }

        .choose-arc {
          display: flex;
          justify-content: center;
          font-size: 18px;
          padding : 10px;

          h3{
            font-family: $mainfont;
            font-weight: 600;
          }
        }

        .arc-buttons {
          display: grid;
          gap: 10px 20px; 
          grid-auto-flow: column;
          justify-content: center;
          grid-template-rows: repeat(3, auto);
          justify-items: center;
          align-items: center;

          .arc-button {
            width: 180px;
            height: 45px;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            border: 2px solid transparent;
            transition: 0.2s ease;
            box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
            background-color: $button-color;
            border-radius: 5px;

            &.selected {
              background-color: $button-active;
            }

            &:disabled {
              background-color: #d6d6d6;
              color: #888;            
              cursor: default;    
              box-shadow: none;
              transform: none;
              opacity: 0.8;      
            }

            &:hover:not(:disabled) {
              background-color: $button-active;
              box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.4);
              transform: scale(1.02);
            }
          }
        }
    }

    .ready-button {
      button {
        all: unset;
        background-color: #bfbfbf;
        border-radius: 25px;
        padding: 15px 30px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        font-family: $mainfont;
        transition: background-color 0.3s ease;

        &.active {
          background-color: $button-active;
          cursor: pointer;
          box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.4);

          &:hover {
            transform: scale(1.02);
          }
        }
      }
    }
    
  }
}